<h1 mat-dialog-title *ngIf="task.id; else newTask">Update Task</h1>
<ng-template #newTask>
    <h1 mat-dialog-title>New Task</h1>
</ng-template>
<div mat-dialog-content>
    <form [formGroup]="taskForm">
        <mat-form-field class="w-100 mr-2 mb-2">
            <mat-label>Title</mat-label>
            <input matInput formControlName="title" name="title">
            <mat-error *ngIf="taskForm.get('title').errors">Title is required</mat-error>
        </mat-form-field>

        <mat-form-field class="w-100 mr-2 mb-2">
            <mat-label>Priority</mat-label>
            <mat-select formControlName="priority">
                <mat-option value="LOW">Low</mat-option>
                <mat-option value="MEDIUM">Medium</mat-option>
                <mat-option value="HIGH">High</mat-option>
            </mat-select>
            <mat-error *ngIf="taskForm.get('priority').errors">Priority is required</mat-error>
        </mat-form-field>

        <mat-form-field class="w-100 mb-2">
            <mat-label>Description</mat-label>
            <textarea
                name="description" matInput
                formControlName="description"
                placeholder="What need to be done..."
            ></textarea>
            <mat-error *ngIf="taskForm.get('description').errors">Description is required</mat-error>
        </mat-form-field>

    </form>
</div>
<div mat-dialog-actions class="mb-1">
    <button mat-raised-button (click)="onNoClick()">Cancel</button>
    <span class="spacer"></span>
    <div
        matTooltip="All fields are required"
        matTooltipPosition="before"
        [matTooltipDisabled]="!taskForm.invalid"
    >
        <button 
        mat-raised-button
        color="primary"
        [disabled]="taskForm.invalid"
        [mat-dialog-close]="getTask()"
        > {{ task.id ? "Update" : "Create" }}</button>
    </div>
</div>
