<div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>Sign In</mat-card-title>
        </mat-card-header>

        <form [formGroup]="loginForm" (submit)="login()" class="example-form">
            <mat-card-content>
                <mat-form-field class="example-full-width">
                    <input #inputEmail #email="matInput" formControlName="email" matInput placeholder="Email">
                      <mat-error *ngIf="loginForm.get('email').errors?.required">
                        Email is <strong>required</strong>
                      </mat-error>
                      <mat-error *ngIf="loginForm.get('email').errors?.email && !email.focused">
                        Please insert a valid email
                      </mat-error>
                </mat-form-field>

                <mat-form-field class="example-full-width mt-2">
                    <input [type]="!hide ? 'text' : 'password'" formControlName="password" matInput placeholder="Password">
                    <mat-icon matSuffix (click)="hide = !hide">
                        {{hide ? 'visibility_off' : 'visibility'}}
                    </mat-icon>
                    <mat-error *ngIf="loginForm.get('password').errors?.required">
                        Password is <strong>required</strong>
                      </mat-error>
                </mat-form-field>
            </mat-card-content>
            <button [disabled]="loginForm.invalid" mat-stroked-button color="golden" class="btn-block">Sign-in</button>
        </form>

        <p style="text-align: center;" class="mt-3">Not a user? <a [routerLink]="['register']">Register now</a></p>
    </mat-card>

</div>