<mat-toolbar class="footer mat-elevation-z3">

    <div class="ml-4">
        Developed with
        <i class="material-icons v-bottom red">
            favorite
        </i>
        by <strong><a href="https://www.linkedin.com/in/vrfvitor/" target="_blank" class="red">Vitor R.</a></strong>
    </div>

    <span class="spacer"></span>

    <div class="mr-4">
        Give It a Star:
        <a class="star" href="https://github.com/vrfvitor/MailToDo-JEE_Angular" target="_blank">
            <mat-icon style="color: #e6c556;" class="v-bottom">star</mat-icon>
        </a>
    </div>

</mat-toolbar>