<div id="page-container">
    <app-header></app-header>
    <div id="content-wrap" class="ml-4 mr-4 mt-2">

        <div>
            <mat-toolbar class="mat-elevation-z1 rounded" id="toolbar">
                <span id="txt-welcome">Welcome, {{user?.name!! ? user.name : 'Vitor'}}!</span>
                <span class="spacer"></span>
                <button id="btn-new" mat-raised-button (click)="openDialog()">New Task</button>
            </mat-toolbar>
        </div>

        <app-task-container title="To Do" [tasks]="tasks | filterByDone: false" (warnChange)="changed()">
        </app-task-container>

        <app-task-container title="Done" [tasks]="tasks | filterByDone" (warnChange)="changed()">
        </app-task-container>

        <button style="position: {{abs_fab ? 'absolute': 'fixed'}}" id="fab-new" mat-fab (click)="openDialog()">
            <mat-icon>add</mat-icon>
        </button>

    </div>
    <app-footer id="footer"></app-footer>
</div>