#bg-text {
    position: absolute;
    display: inline;
    width: 100%;
    font-size: 16vw;
    text-align: center;
    margin-top: 22%;
    color: #f5f5f5;
    font-family: sans-serif;
    font-weight: bold;
    user-select: none;
}

.my-link {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.my-link a {
    text-decoration: none;
    font-weight: bold;
    color: #e6c556;
}

@media only screen and (max-width: 415px) {
    .my-link {
        display: none;
    }
}
